Operaciones SQL
===

In [0]:
import findspark
findspark.init()

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Operations") \
    .getOrCreate()

---

## Creaci贸n de DataFrames

### JSON

In [0]:
%%writefile people.json
{"id": 1,  "firstname": "Vivian",   "surname": "Hamilton", "birthdate": "1971-07-08",  "color": "green",  "quantity": 1 }
{"id": 2,  "firstname": "Karen",    "surname": "Holcomb",  "birthdate": "1974-05-23",  "color": "green",  "quantity": 4 }
{"id": 3,  "firstname": "Cody",     "surname": "Garrett",  "birthdate": "1973-04-22",  "color": "orange", "quantity": 1 }
{"id": 4,  "firstname": "Roth",     "surname": "Fry",      "birthdate": "1975-01-29",  "color": "black",  "quantity": 1 }
{"id": 5,  "firstname": "Zoe",      "surname": "Conway",   "birthdate": "1974-07-03",  "color": "blue",   "quantity": 2 }
{"id": 6,  "firstname": "Gretchen", "surname": "Kinney",   "birthdate": "1974-10-18",  "color": "violet", "quantity": 1 }
{"id": 7,  "firstname": "Driscoll", "surname": "Klein",    "birthdate": "1970-10-05",  "color": "blue",   "quantity": 5 }
{"id": 8,  "firstname": "Karyn",    "surname": "Diaz",     "birthdate": "1969-02-24",  "color": "red",    "quantity": 1 }
{"id": 9,  "firstname": "Merritt",  "surname": "Guy",      "birthdate": "1974-10-17",  "color": "indigo", "quantity": 4 }
{"id": 10, "firstname": "Kylan",    "surname": "Sexton",   "birthdate": "1975-02-28",  "color": "black",  "quantity": 4 }
{"id": 11, "firstname": "Jordan",   "surname": "Estes",    "birthdate": "1969-12-07",  "color": "indigo", "quantity": 4 }
{"id": 12, "firstname": "Hope",     "surname": "Coffey",   "birthdate": "1973-12-24",  "color": "green",  "quantity": 5 }
{"id": 13, "firstname": "Vivian",   "surname": "Crane",    "birthdate": "1970-08-27",  "color": "gray",   "quantity": 5 }
{"id": 14, "firstname": "Clio",     "surname": "Noel",     "birthdate": "1972-12-12",  "color": "red",    "quantity": 5 }
{"id": 15, "firstname": "Hope",     "surname": "Silva",    "birthdate": "1970-07-01",  "color": "blue",   "quantity": 5 }
{"id": 16, "firstname": "Ayanna",   "surname": "Jarvis",   "birthdate": "1974-02-11",  "color": "orange", "quantity": 5 }
{"id": 17, "firstname": "Chanda",   "surname": "Boyer",    "birthdate": "1973-04-01",  "color": "green",  "quantity": 4 }
{"id": 18, "firstname": "Chadwick", "surname": "Knight",   "birthdate": "1973-04-29",  "color": "yellow", "quantity": 1 }

Overwriting people.json

In [0]:
## Formato JSON -- forma 1
df = spark.read.json("people.json")
df.show()

+----------+------+---------+---+--------+--------+
| birthdate| color|firstname| id|quantity| surname|
+----------+------+---------+---+--------+--------+
|1971-07-08| green|   Vivian|  1|       1|Hamilton|
|1974-05-23| green|    Karen|  2|       4| Holcomb|
|1973-04-22|orange|     Cody|  3|       1| Garrett|
|1975-01-29| black|     Roth|  4|       1|     Fry|
|1974-07-03|  blue|      Zoe|  5|       2|  Conway|
|1974-10-18|violet| Gretchen|  6|       1|  Kinney|
|1970-10-05|  blue| Driscoll|  7|       5|   Klein|
|1969-02-24|   red|    Karyn|  8|       1|    Diaz|
|1974-10-17|indigo|  Merritt|  9|       4|     Guy|
|1975-02-28| black|    Kylan| 10|       4|  Sexton|
|1969-12-07|indigo|   Jordan| 11|       4|   Estes|
|1973-12-24| green|     Hope| 12|       5|  Coffey|
|1970-08-27|  gray|   Vivian| 13|       5|   Crane|
|1972-12-12|   red|     Clio| 14|       5|    Noel|
|1970-07-01|  blue|     Hope| 15|       5|   Silva|
|1974-02-11|orange|   Ayanna| 16|       5|  Jarvis|
|1973-04-01| green|   Chanda| 17|       4|   Boyer|
|1973-04-29|yellow| Chadwick| 18|       1|  Knight|
+----------+------+---------+---+--------+--------+

In [0]:
## Formato JSON -- forma 2
df = spark.read.load("people.json", format="json")
df.show()

+----------+------+---------+---+--------+--------+
| birthdate| color|firstname| id|quantity| surname|
+----------+------+---------+---+--------+--------+
|1971-07-08| green|   Vivian|  1|       1|Hamilton|
|1974-05-23| green|    Karen|  2|       4| Holcomb|
|1973-04-22|orange|     Cody|  3|       1| Garrett|
|1975-01-29| black|     Roth|  4|       1|     Fry|
|1974-07-03|  blue|      Zoe|  5|       2|  Conway|
|1974-10-18|violet| Gretchen|  6|       1|  Kinney|
|1970-10-05|  blue| Driscoll|  7|       5|   Klein|
|1969-02-24|   red|    Karyn|  8|       1|    Diaz|
|1974-10-17|indigo|  Merritt|  9|       4|     Guy|
|1975-02-28| black|    Kylan| 10|       4|  Sexton|
|1969-12-07|indigo|   Jordan| 11|       4|   Estes|
|1973-12-24| green|     Hope| 12|       5|  Coffey|
|1970-08-27|  gray|   Vivian| 13|       5|   Crane|
|1972-12-12|   red|     Clio| 14|       5|    Noel|
|1970-07-01|  blue|     Hope| 15|       5|   Silva|
|1974-02-11|orange|   Ayanna| 16|       5|  Jarvis|
|1973-04-01| green|   Chanda| 17|       4|   Boyer|
|1973-04-29|yellow| Chadwick| 18|       1|  Knight|
+----------+------+---------+---+--------+--------+

### CSV y TXT

In [0]:
%%writefile people.csv
1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,violet,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

Overwriting people.csv

In [0]:
from pyspark.sql import Row

## crea el contexto
sc = spark.sparkContext

## lee el archivo como lineas de texto
rdd = sc.textFile("people.csv")

## parte por las comas
rdd = rdd.map(lambda row: row.split(","))

## cambia los tipos de los datos
rdd = rdd.map(lambda p: Row(id=p[0], 
                            firstname=p[1],
                            surname=p[2],
                            birthdate=p[3],
                            color=p[4],
                            quantity=int(p[5])))

## crea el DataFrame
df = spark.createDataFrame(rdd)
df.createOrReplaceTempView("df")
df.show()

+----------+------+---------+---+--------+--------+
| birthdate| color|firstname| id|quantity| surname|
+----------+------+---------+---+--------+--------+
|1971-07-08| green|   Vivian|  1|       1|Hamilton|
|1974-05-23| green|    Karen|  2|       4| Holcomb|
|1973-04-22|orange|     Cody|  3|       1| Garrett|
|1975-01-29| black|     Roth|  4|       1|     Fry|
|1974-07-03|  blue|      Zoe|  5|       2|  Conway|
|1974-10-18| viole| Gretchen|  6|       1|  Kinney|
|1970-10-05|  blue| Driscoll|  7|       5|   Klein|
|1969-02-24|   red|    Karyn|  8|       1|    Diaz|
|1974-10-17|indigo|  Merritt|  9|       4|     Guy|
|1975-02-28| black|    Kylan| 10|       4|  Sexton|
|1969-12-07|indigo|   Jordan| 11|       4|   Estes|
|1973-12-24| green|     Hope| 12|       5|  Coffey|
|1970-08-27|  gray|   Vivian| 13|       5|   Crane|
|1972-12-12|   red|     Clio| 14|       5|    Noel|
|1970-07-01|  blue|     Hope| 15|       5|   Silva|
|1974-02-11|orange|   Ayanna| 16|       5|  Jarvis|
|1973-04-01| green|   Chanda| 17|       4|   Boyer|
|1973-04-29|yellow| Chadwick| 18|       1|  Knight|
+----------+------+---------+---+--------+--------+

In [0]:
%%writefile people1.csv
id,firstname,surname,birthdate,color,quantity
1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,violet,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

Overwriting people1.csv

In [0]:
## CSV
df = spark.read.load("people1.csv",
                     format="csv", sep=",", 
                     inferSchema="true", 
                     header="true")
df.show()

+---+---------+--------+-------------------+------+--------+
| id|firstname| surname|          birthdate| color|quantity|
+---+---------+--------+-------------------+------+--------+
|  1|   Vivian|Hamilton|1971-07-08 00:00:00| green|       1|
|  2|    Karen| Holcomb|1974-05-23 00:00:00| green|       4|
|  3|     Cody| Garrett|1973-04-22 00:00:00|orange|       1|
|  4|     Roth|     Fry|1975-01-29 00:00:00| black|       1|
|  5|      Zoe|  Conway|1974-07-03 00:00:00|  blue|       2|
|  6| Gretchen|  Kinney|1974-10-18 00:00:00|violet|       1|
|  7| Driscoll|   Klein|1970-10-05 00:00:00|  blue|       5|
|  8|    Karyn|    Diaz|1969-02-24 00:00:00|   red|       1|
|  9|  Merritt|     Guy|1974-10-17 00:00:00|indigo|       4|
| 10|    Kylan|  Sexton|1975-02-28 00:00:00| black|       4|
| 11|   Jordan|   Estes|1969-12-07 00:00:00|indigo|       4|
| 12|     Hope|  Coffey|1973-12-24 00:00:00| green|       5|
| 13|   Vivian|   Crane|1970-08-27 00:00:00|  gray|       5|
| 14|     Clio|    Noel|1972-12-12 00:00:00|   red|       5|
| 15|     Hope|   Silva|1970-07-01 00:00:00|  blue|       5|
| 16|   Ayanna|  Jarvis|1974-02-11 00:00:00|orange|       5|
| 17|   Chanda|   Boyer|1973-04-01 00:00:00| green|       4|
| 18| Chadwick|  Knight|1973-04-29 00:00:00|yellow|       1|
+---+---------+--------+-------------------+------+--------+

## Operaciones sobre DataFrames

In [0]:
## imprime el esquema en formato de arbol
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- firstname: string (nullable = true)
 |-- surname: string (nullable = true)
 |-- birthdate: timestamp (nullable = true)
 |-- color: string (nullable = true)
 |-- quantity: integer (nullable = true)

In [0]:
## selecciona una columna en particular
df.select('firstname').show()

+---------+
|firstname|
+---------+
|   Vivian|
|    Karen|
|     Cody|
|     Roth|
|      Zoe|
| Gretchen|
| Driscoll|
|    Karyn|
|  Merritt|
|    Kylan|
|   Jordan|
|     Hope|
|   Vivian|
|     Clio|
|     Hope|
|   Ayanna|
|   Chanda|
| Chadwick|
+---------+

In [0]:
## Selecciona varias columnas
df.select(['firstname', 'surname']).show()

+---------+--------+
|firstname| surname|
+---------+--------+
|   Vivian|Hamilton|
|    Karen| Holcomb|
|     Cody| Garrett|
|     Roth|     Fry|
|      Zoe|  Conway|
| Gretchen|  Kinney|
| Driscoll|   Klein|
|    Karyn|    Diaz|
|  Merritt|     Guy|
|    Kylan|  Sexton|
|   Jordan|   Estes|
|     Hope|  Coffey|
|   Vivian|   Crane|
|     Clio|    Noel|
|     Hope|   Silva|
|   Ayanna|  Jarvis|
|   Chanda|   Boyer|
| Chadwick|  Knight|
+---------+--------+

In [0]:
## Filtrado
df.filter(df['color'] == 'blue').show()

+---+---------+-------+-------------------+-----+--------+
| id|firstname|surname|          birthdate|color|quantity|
+---+---------+-------+-------------------+-----+--------+
|  5|      Zoe| Conway|1974-07-03 00:00:00| blue|       2|
|  7| Driscoll|  Klein|1970-10-05 00:00:00| blue|       5|
| 15|     Hope|  Silva|1970-07-01 00:00:00| blue|       5|
+---+---------+-------+-------------------+-----+--------+

In [0]:
## Consultas
##   Se crea una vista temporal
##   que desaparece cuando se cierra la
##   sesi贸n actual de Spark
df.createOrReplaceTempView('people') ## este es el nombre de la tabla

## Se realiza la consulta
sqlDF = spark.sql('SELECT * FROM people')
sqlDF.show()

+---+---------+--------+-------------------+------+--------+
| id|firstname| surname|          birthdate| color|quantity|
+---+---------+--------+-------------------+------+--------+
|  1|   Vivian|Hamilton|1971-07-08 00:00:00| green|       1|
|  2|    Karen| Holcomb|1974-05-23 00:00:00| green|       4|
|  3|     Cody| Garrett|1973-04-22 00:00:00|orange|       1|
|  4|     Roth|     Fry|1975-01-29 00:00:00| black|       1|
|  5|      Zoe|  Conway|1974-07-03 00:00:00|  blue|       2|
|  6| Gretchen|  Kinney|1974-10-18 00:00:00|violet|       1|
|  7| Driscoll|   Klein|1970-10-05 00:00:00|  blue|       5|
|  8|    Karyn|    Diaz|1969-02-24 00:00:00|   red|       1|
|  9|  Merritt|     Guy|1974-10-17 00:00:00|indigo|       4|
| 10|    Kylan|  Sexton|1975-02-28 00:00:00| black|       4|
| 11|   Jordan|   Estes|1969-12-07 00:00:00|indigo|       4|
| 12|     Hope|  Coffey|1973-12-24 00:00:00| green|       5|
| 13|   Vivian|   Crane|1970-08-27 00:00:00|  gray|       5|
| 14|     Clio|    Noel|1972-12-12 00:00:00|   red|       5|
| 15|     Hope|   Silva|1970-07-01 00:00:00|  blue|       5|
| 16|   Ayanna|  Jarvis|1974-02-11 00:00:00|orange|       5|
| 17|   Chanda|   Boyer|1973-04-01 00:00:00| green|       4|
| 18| Chadwick|  Knight|1973-04-29 00:00:00|yellow|       1|
+---+---------+--------+-------------------+------+--------+

In [0]:
## Se crea una vista temporal que existe entre
## sesiones y solo desaparece cuando se cierra
## la aplicaci贸n actual de Spark
df.createGlobalTempView("people")

## percatese de la forma de nombrar la tabla
## en la consulta SQL
spark.sql("SELECT * FROM global_temp.people").show()

+---+---------+--------+-------------------+------+--------+
| id|firstname| surname|          birthdate| color|quantity|
+---+---------+--------+-------------------+------+--------+
|  1|   Vivian|Hamilton|1971-07-08 00:00:00| green|       1|
|  2|    Karen| Holcomb|1974-05-23 00:00:00| green|       4|
|  3|     Cody| Garrett|1973-04-22 00:00:00|orange|       1|
|  4|     Roth|     Fry|1975-01-29 00:00:00| black|       1|
|  5|      Zoe|  Conway|1974-07-03 00:00:00|  blue|       2|
|  6| Gretchen|  Kinney|1974-10-18 00:00:00|violet|       1|
|  7| Driscoll|   Klein|1970-10-05 00:00:00|  blue|       5|
|  8|    Karyn|    Diaz|1969-02-24 00:00:00|   red|       1|
|  9|  Merritt|     Guy|1974-10-17 00:00:00|indigo|       4|
| 10|    Kylan|  Sexton|1975-02-28 00:00:00| black|       4|
| 11|   Jordan|   Estes|1969-12-07 00:00:00|indigo|       4|
| 12|     Hope|  Coffey|1973-12-24 00:00:00| green|       5|
| 13|   Vivian|   Crane|1970-08-27 00:00:00|  gray|       5|
| 14|     Clio|    Noel|1972-12-12 00:00:00|   red|       5|
| 15|     Hope|   Silva|1970-07-01 00:00:00|  blue|       5|
| 16|   Ayanna|  Jarvis|1974-02-11 00:00:00|orange|       5|
| 17|   Chanda|   Boyer|1973-04-01 00:00:00| green|       4|
| 18| Chadwick|  Knight|1973-04-29 00:00:00|yellow|       1|
+---+---------+--------+-------------------+------+--------+

In [0]:
## Ejecuci贸n de comandos SQL directamente sobre archivos
df = spark.sql('SELECT * FROM `people`')
df.show()

+---+---------+--------+-------------------+------+--------+
| id|firstname| surname|          birthdate| color|quantity|
+---+---------+--------+-------------------+------+--------+
|  1|   Vivian|Hamilton|1971-07-08 00:00:00| green|       1|
|  2|    Karen| Holcomb|1974-05-23 00:00:00| green|       4|
|  3|     Cody| Garrett|1973-04-22 00:00:00|orange|       1|
|  4|     Roth|     Fry|1975-01-29 00:00:00| black|       1|
|  5|      Zoe|  Conway|1974-07-03 00:00:00|  blue|       2|
|  6| Gretchen|  Kinney|1974-10-18 00:00:00|violet|       1|
|  7| Driscoll|   Klein|1970-10-05 00:00:00|  blue|       5|
|  8|    Karyn|    Diaz|1969-02-24 00:00:00|   red|       1|
|  9|  Merritt|     Guy|1974-10-17 00:00:00|indigo|       4|
| 10|    Kylan|  Sexton|1975-02-28 00:00:00| black|       4|
| 11|   Jordan|   Estes|1969-12-07 00:00:00|indigo|       4|
| 12|     Hope|  Coffey|1973-12-24 00:00:00| green|       5|
| 13|   Vivian|   Crane|1970-08-27 00:00:00|  gray|       5|
| 14|     Clio|    Noel|1972-12-12 00:00:00|   red|       5|
| 15|     Hope|   Silva|1970-07-01 00:00:00|  blue|       5|
| 16|   Ayanna|  Jarvis|1974-02-11 00:00:00|orange|       5|
| 17|   Chanda|   Boyer|1973-04-01 00:00:00| green|       4|
| 18| Chadwick|  Knight|1973-04-29 00:00:00|yellow|       1|
+---+---------+--------+-------------------+------+--------+

---

In [0]:
!rm people.*